@charset "utf-8";

.mapboxgl-canvas {
    position: relative !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* =Elements
        ----------------------------------------------- */
body {
    background: rgb(253, 254, 255);
    color: rgb(49, 50, 51);
    margin: 0;
    padding: 0;
    font: 100%/1.5 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a {
    color: rgb(77, 85, 148); /* @grape */
    transition: color 0.2s;
}
a:hover,
a:active,
a:focus {
    color: rgb(241, 95, 91); /* @strawberry */
}

/* =Type
        ----------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, dl, ul, ol, table {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 1.5em;
}

/* =Marker
        ----------------------------------------------- */
.marker {
    position: relative;
    font-size: 1rem;
    line-height: 1.5;

    cursor: pointer;
    height: 46px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -15px;
    margin-top: -40px;
}
.marker .label {
    margin: 0;
    position: absolute;
    margin-left: -6.5em;
    padding: 0.375em;
    top: 3.25em;
    width: 15em;

    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.farmers-market-marker {
    background-image: url(/food-oasis-frontend/images/pin-red-small.svg);
}

.community-garden-marker {
    background-image: url(/food-oasis-frontend/images/pin-green-small.svg);
}

.food-pantry-marker {
    background-image: url(/food-oasis-frontend/images/pin-yellow-small.svg);
}

.supermarket-marker {
    background-image: url(/food-oasis-frontend/images/pin-red-small.svg);
}

.marker-base.active {
    cursor: default;
    height: 70px;
    width: 42px;
    margin-left: -21px;
    margin-top: -64px;
}

.farmers-market-marker.active {
    background-image: url(/food-oasis-frontend/images/pin-red-large.svg);
}

.community-garden-marker.active {
    background-image: url(/food-oasis-frontend/images/pin-green-large.svg);
}

.food-pantry-marker.active {
    background-image: url(/food-oasis-frontend/images/pin-yellow-large.svg);
}

.supermarket-marker.active {
    background-image: url(/food-oasis-frontend/images/pin-red-large.svg);
}

/* =Header
        ----------------------------------------------- */
body {
    background-color: rgb(241, 241, 241);
}
nav,
header {
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    flex-grow: 1;
}
header .tagline {
    flex-grow: 0;
}
header .nav-link {
    order: -1;
    flex-grow: 0;
    padding-right: 1.5em;
}
header p:first-child {
    width: 3em;
}
main {
    background: rgb(253, 254, 255);
}
header h2,
header p {
    margin: 0;
}
header .tagline {
    font-style: italic;
    font-size: 0.875em;
    opacity: 0.5;
}
header h2 img {
    width: 2.5em;
    height: auto;
    display: block;
    margin-top: 0em;
}

/* =Layout
        ----------------------------------------------- */
header,
nav,
main,
footer {
    padding: 1.5em;
}

header {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
nav {
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}
